<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.oronaminse">
    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.OronaminSE">
        <activity android:name=".LoginScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity">
        </activity>
        <activity android:name=".MovieList">
        </activity>
        <activity android:name=".ZootopiaTime">
        </activity>
        <activity android:name=".AvengersTime">
        </activity>
        <activity android:name=".WorldnewTime">
        </activity>
        <activity android:name=".ZootopiaSeat0850">
        </activity>
        <activity android:name=".ZootopiaSeat1010">
        </activity>
        <activity android:name=".ZootopiaSeat1230">
        </activity>
        <activity android:name=".AvengersSeat1020">
        </activity>
        <activity android:name=".AvengersSeat1340">
        </activity>
        <activity android:name=".AvengersSeat1700">
        </activity>
        <activity android:name=".WorldnewSeat1250">
        </activity>
        <activity android:name=".WorldnewSeat1520">
        </activity>
        <activity android:name=".WorldnewSeat1750">
        </activity>
        <activity android:name=".TicketInformation">
        </activity>
        <activity android:name=".SweetShop">
        </activity>
        <activity android:name=".FinalPay">
        </activity>
        <activity android:name=".PopcornMenu">
        </activity>
        <activity android:name=".DrinkMenu">
        </activity>
        <activity android:name=".Basket">
        </activity>
        <activity android:name=".Receipt">
        </activity>
        <activity android:name=".Details">
        </activity>
        <activity android:name=".LoginJoinMembership">
        </activity>
        <activity android:name=".LoginJoinNonMembership">
        </activity>







    </application>

</manifest>